<div id="<%= dom_id list %>">
  <p>
    <strong>List:</strong>
    <%= list.id %>
    <%= list.name %>
    <%= list.row_order %>
  </p>

</div>

<ul data-controller="sortable">
  <% list.tasks.rank(:row_order).each do |task| %>
    <li data-sortable-update-url="<%= sort_task_path(task) %>">
      <%= render task %>
    </li>
  <% end %>
</ul>
